<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282329505089-1sphmqf76q1r43s3macms7cd5hkb82jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282329505089-1sphmqf76q1r43s3macms7cd5hkb82jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAUDwnHHp2NismOqoGT2eAYYlDFRLoYQys</string>
	<key>GCM_SENDER_ID</key>
	<string>282329505089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>pard-5th-hw</string>
	<key>STORAGE_BUCKET</key>
	<string>pard-5th-hw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282329505089:ios:c7daac4f32a30bd6e095c0</string>
</dict>
</plist>